@import "boostrap/bootstrap";
@import "boostrap4/boostrap4";
@import "../../../bower_components/select2/src/scss/core";

.test {
  @include media-breakpoint-down(sm) {
    font-size: 100px;
  }
}

@import "colors";
@import "mixins";

@import "sections/call-to-action";
@import "sections/form";
@import "sections/gogogo";
@import "sections/header";
@import "sections/list-header";
@import "sections/magian";
@import "sections/municipality";
@import "sections/parliament";
@import "sections/vuc";

@import "select2/theme/kgalici/layout";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form {
  margin: 0;
  @include padding(60, 0);
}

select {
  width: 100%;
  max-width: 500px;
}

.col-1-3 {
  @extend .col-xs-4;
}

.col-1-6 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 16.6666667%;
}

.col-1-5 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
}

.col-1-7 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 14.28571428%;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  .col-1-3,
  .col-1-5,
  .col-1-6,
  .col-1-7 {
    padding-left: 0;
    padding-right: 0;
  }
}

.s {
  @include padding(100, 110);

  .c {
    @extend .container-fluid !optional;

    text-align: center;

    margin: 0 auto;
    max-width: 1564px;
  }
}

* {
  font-family: 'Roboto Slab', serif;
}

body {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Alfa Slab One', cursive;
  font-weight: normal;
  line-height: 1.25;
  margin: 0;
}

h1 {
  @include font-size(70);
  @include padding(20, 30);
}

h2 {
  @include font-size(55);
  @include padding(0, 30);
}

h3 {
  @include font-size(36);
  @include padding(40, 30);
}

p {
  margin: 0;
  font-weight: normal;
  @include font-size(28);
  line-height: 1.5;

  @include padding(0, 15);

  &:last-child {
    @include padding(0, 0);
  }
}

br {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

a.fb-share {
  display: inline-block;
  border-radius: 5px;
  background-color: $facebook-blue;
  color: $white;
  padding: 15px 20px;

  @include padding(15, 15);

  width: 100%;
  max-width: 500px;
  @include font-size(36);
  font-weight: 400;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.22);

  &:hover {
    text-decoration: none;
    background-color: lighten($facebook-blue, 10);
  }
}

.links {
  a {
    display: inline-block;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.05);
    max-width: 500px;
    margin: 30px 15px;
    padding: 15px 30px;
    border-radius: 5px;
    @include font-size(24);

    &:hover {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .candidates {
    a {
      z-index: 1000;
      font-size: 18px;
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      position: fixed;
      right: -240px;
      top: -90px;
      transform: rotate(45deg);
      width: 500px;
      padding-top: 100px;
      height: 170px;
    }
  }
}
