@import "../../../bower_components/bootstrap/scss/bootstrap";
@import "../../../bower_components/select2/src/scss/core";

@import "colors";

@import "sections/call-to-action";
@import "sections/form";
@import "sections/footer";
@import "sections/gogogo";
@import "sections/header";
@import "sections/magian";
@import "sections/municipality";
@import "sections/parliament";
@import "sections/vuc";

@import "select2/theme/kgalici/layout";


.s {
  .c {
    @extend .container-fluid !optional;

    margin: 0 auto;
    max-width: 1564px;
  }
}

* {
  font-family: 'Roboto Slab', serif;
}

body {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Alfa Slab One', cursive;
  font-weight: normal;
}
/*
table {
  width: 100%;
  border-collapse: collapse;
}

thead td {
  font-size: 14px;
}

td, th {
  padding: 10px;
}

th {
  text-align: left;
  font-size: 20px;
}

tr.region th {
  padding-top: 60px;
}

tr:nth-child(even) td {
  background-color: #ededed;
}

.municipality-names {
  font-size: 12px;
  width: 33%;
}

tr.warning td {
  background-color: #b2eea8;
}

tr:nth-child(even).warning td {
  background-color: #a2d697;
}

tr.total th,
tr.total td {
  background-color: white;
  border-bottom: 1px solid black;
}*/

a.fb-share {
  display: inline-block;
  border-radius: 5px;
  background-color: $facebook-blue;
  color: $white;
  padding: 15px 20px;
  width: 100%;
  max-width: 500px;
  font-size: 36px;
  font-weight: 300;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.22);

  &:hover {
    text-decoration: none;
    background-color: lighten($facebook-blue, 10);
  }
}