.s-call-to-action {
  background-color: $puke-green;
  padding-top: 80px;
  padding-bottom: 90px;
  text-align: center;
  color: $dark-shit;

  h2 {
    font-size: 60px;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}