.s-call-to-action {
  background-color: $puke-green;
  color: $dark-shit;

  p {
    color: $black;

    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  a.fb-share {
    @include margin(60, 0);
  }
}