.s-form {
  background-color: $bloody-red;
  color: $white;

  p {
    color: $white;

    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    margin: 0;
    @include padding(60, 0);
  }

  select {
    width: 100%;
    max-width: 500px;
  }
}