.s-gogogo {
  background-color: $light-puke-green;
  padding-top: 100px;
  padding-bottom: 130px;
  text-align: center;
  color: $dark-shit;

  h2 {
    font-size: 60px;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  p {
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}