.s-header {
  background-color: $puke-green;
  color: $dark-shit;

  &.s {
    @include padding(70, 110);
  }

  p {
    line-height: 1.25;
    @include font-size(32);
  }

  .image-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    .image {
      text-align: center;
      overflow: hidden;

      .kgalikm {
        display: inline-block;
        position: relative;
        z-index: 20;
        width: 75%;
        margin-bottom: -5%;
      }

      .kgalik {
        display: block;
        position: absolute;
        width: 40%;

        opacity: 0.75;
        z-index: 10;
        bottom: 0;

        &:last-of-type {
          right: 0;
        }
      }
    }
  }
}