.s-magian {
  background-color: $light-shit;
  color: $white;

  &.s {
    @include padding(90, 110);
  }

  h2 {
    @include padding(20, 20);
  }

  p {
    color: #908975;
  }

  .image-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: -35px;

    @media (max-width: 600px)
    {
      margin-bottom: -20px;
    }

    @include media-breakpoint-down(xl) {

      max-width: 500px;
    }

    @include media-breakpoint-down(md) {

      max-width: 400px;
    }

    @include media-breakpoint-down(xs) {
      max-width: 300px;
    }

    .image {
      .kgalikm {
        width: 90%;
      }
    }
  }
}