.s-parliament {
  background-color: $darker-shit;
  color: $white;

  @include media-breakpoint-down(xl) {
    .c {
      width: 90%;
    }
  }

  @include media-breakpoint-down(md) {
    .c {
      width: 80%;
    }
  }

  @include media-breakpoint-down(xs) {
    .c {
      width: 100%;
    }
  }

  h2 {
    @include padding(20, 20);
  }

  p {
    color: #908975;
  }
}