.s-vuc {
  background-color: $darkest-shit;
  color: $white;

  p {
    color: #908975;
  }

  h2 {
    @include padding(20, 20);
  }

  @include media-breakpoint-down(xl) {
    .c {
      width: 90%;
    }
  }

  @include media-breakpoint-down(md) {
    .c {
      width: 80%;
    }
  }

  @include media-breakpoint-down(xs) {
    .c {
      width: 100%;
    }
  }

  .platoon {
    padding-bottom: 20px;

    @include media-breakpoint-down(xs) {
      padding-bottom: 15px;
    }

    @media (max-width: 400px) {
      padding-bottom: 0;
    }

    .col {
      @include media-breakpoint-up(xl) {
        padding: 0 5px;
      }
    }
  }

  .kgalikm {
    @include media-breakpoint-down(xs) {
      width: 90%;
    }

    @include media-breakpoint-up(md) {
      width: 80%;
    }

    @include media-breakpoint-up(lg) {
      width: 80%;
    }

    @include media-breakpoint-up(xl) {
      width: 70%;
    }

    @media (max-width: 400px) {
      margin-top: 10px;
    }
  }
}