{%- set ASSETS_VERSION = 0.01 -%}
<!DOCTYPE html>
<html lang="sk" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Voľby do VÚC 2017</title>

    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Roboto+Slab&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css?v={{ ASSETS_VERSION }}">
</head>

<body>
{% block content %}
{% endblock %}

<script src="/js/main.js?v={{ ASSETS_VERSION }}"></script>

</body>
</html>